{% extends '::base.html.twig' %}

{% block title %}{% trans %}index.title{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/levi9eproject/css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>{% trans %}index.welcome{% endtrans %}</h1>

    <p>
    {{ 'index.add.message'|trans({'%link%': block('link')})|raw }}
    </p>
    <p>{% trans %}index.statistics{% endtrans %}</p>
    <table>
        <thead>
            <tr>
                <th>{% trans %}index.table.battery_type{% endtrans %}</th>
                <th>{% trans %}index.table.total{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in stat %}
                <tr>
                    <td>{{ row.type }}</td>
                    <td>{{ row.cnt }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{% trans %}index.table.empty{% endtrans %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ form(reset) }}
{% endblock %}

{% block link %}
    <a href="{{ path('batteries_add') }}">{{ 'index.add.here'|trans }}</a>
{% endblock %}
